<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3725.6503472443587!2d-89.62053064816286!3d20.966552240288845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x33efa7127b976f2f!2sHotel+Dolores+Alba!5e0!3m2!1sen!2smx!4v1424916296035" width="525" height="300" frameborder="0" style="border:0"></iframe>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4><%= t :merida_by_plane_or_bus %></h4>
				<p><%= t :merida_by_plane_or_bus_text %></p>
				<h4><%= t :merida_from_the_airport %></h4>
				<p><%= t :merida_from_the_airport_text %></p>
				<h4><%= t :merida_contact %></h4>
				<p></p>
				<p><a href="#"><%= t :merida_get_printable_map %></a>
			</div>
		</div>
	</div>
</div>
		
