<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1>Chichen Galery</h1>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
</div>
<!-- /.row -->
<br>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
</div>
<!-- /.row -->
<br>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </a>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->