// Place all the styles related to the Merida controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#doralba-logo {
	font-family:'Arnold Boecklin W01_691837';
	color: #006600;
	font-size: x-large;
}

.thumb {
    margin-bottom: 30px;
}
