<div class="container text-center">
	<button type="button" class="btn btn-default"><%= link_to "Merida", merida_home_path %></button>
 	<button type="button" class="btn btn-default"><%= link_to "Chichen", chichen_home_path %></button>
</div>