<!DOCTYPE html>
<html>
<head>
  <title>DoralbaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style><%= yield :stylesheets %></style>

  <!--Script de Font Arnold Boed -->
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/27fed573-bdec-4d31-9c36-33a6f97a706d.js"></script>
</head>
<body>
	
	<%= content_for?(:content) ? yield(:content) : yield %>
	
</body>
</html>
