<% content_for :stylesheets do %>
  	<!-- TODO special stylesheets -->
<% end %>

<% content_for :content do %>
<!-- NAVIGATION -->
	<nav class="navbar navbar-default">
	  <div class="container container-fluid">
	    <!-- Dolores Alba Logo -->
		    <div class="navbar-header">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
		      	<a class="navbar-brand" id="doralba-logo" href="<%= hotels_main_path %>">Dolores Alba</a>
		    </div>

		    <!-- Menus -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<!-- Menus a la izquierda -->
	      		<ul class="nav navbar-nav">
			        <li class="<%= is_active?(chichen_home_path) %>"><%= link_to t("Chichen"), chichen_home_path %></li>
			        <li class="<%= is_active?(chichen_galery_path) %>"><%= link_to t(:Gallery), chichen_galery_path %></li>
			        <li class="<%= is_active?(chichen_visit_path) %>"><%= link_to t(:Visit), chichen_visit_path %></li>
			        <li class="<%= is_active?(chichen_tours_path) %>"><%= link_to t(:Tours), chichen_tours_path %></li>
			        <li class="<%= is_active?(chichen_directions_path) %>"><%= link_to t(:Directions), chichen_directions_path %></li>
			        <li class="<%= is_active?(chichen_book_path) %>"><%= link_to t(:Book), chichen_book_path %></li>
	      		</ul>
	      		<!-- Menus a la derecha -->
	      		<ul class="nav navbar-nav navbar-right">
	        		<li class="dropdown">
	          			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Language <span class="caret"></span></a>
			          	<ul class="dropdown-menu" role="menu">
				          	<li><%= link_to "English", params.merge({:locale => 'en'}) %></li>
				            <li><%= link_to "Español", params.merge({:locale => 'es'}) %></li>
				            <li><%= link_to "Français", params.merge({:locale => 'fr'}) %></li>
			          	</ul>
	        		</li>
		        	<li class="dropdown">
		          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Hotel <span class="caret"></span></a>
		          		<ul class="dropdown-menu" role="menu">
				          	<li><%= link_to "Merida", merida_home_path %></li>
				            <li><%= link_to "Chichen", chichen_home_path %></li>
		          		</ul>
	        		</li>
	      		</ul>
	    	</div>
	  	</div>
	</nav>

	<div class="container">
  		<%= content_for?(:chichen_content) ? yield(:chichen_content) : yield %>
  	</div>
  	<footer>
		<div class="row text-center">
            <div class="col-lg-12">
                <p>Copyright &copy; Dolores Alba 2015</p>
            </div>
        </div>
	</footer>

<% end %>

<%= render template: "layouts/application" %>